<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="API Test Suite">
    <test name="API Tests">
        <classes>
            <class name="api.tests.study.QuoteFeeTest"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="listener.TestListener" />
    </listeners>
</suite>
